
<% if @profile.profession_id == 1 %>
    <% if current_user.profile.bootcamps.empty? %>

        <!-- ADDING -->
    <div class=" col-md-12">
        <%= form_for :bootcamps, url: user_bootcamps_add_path(@user) do |f| %>
        <div class="form-group overflowing">
            <% @bootcamps.each do |b| %>
            <div class="form-group">
                <%= f.label b.title %>
                <%= check_box("bootcamps", "ids", {:multiple => true}, checked_value = "#{b.id}", nil) %>
            </div>
            <% end %>
        </div>
        <%= f.submit 'Add Bootcamps', class: 'btn btn-primary btn-lg btn-block'%>
        <% end %>
    </div>
    <% else %>
    
        <!-- UPDATING -->
    <div class="col-md-12">
        <%= form_for :bootcamps, url: user_bootcamps_update_path(@user), method: :patch do |f| %>
        <div class="form-group overflowing">
            <% @bootcamps.each do |b| %>
                <div class="form-group">
                    <%= b.title %>    
                    <%= check_box("bootcamps", "ids", {:multiple => true}, "#{b.id}" , nil)%>
                    <!-- {disabled: lambda{|category| category.archived? } -->
                </div>    
            <% end %>
        </div>    
        <%= f.submit 'Update Bootcamps', class: 'btn btn-primary btn-lg btn-block'%>
        <% end %>
    </div> 


    <% end %>
<% end %>

