<div class="row">
<%= form_for (@user), html: { multipart: true } do |f| %>

    <div class="form-group col-md-6">
        <%= f.label :nick_Name %>
        <% if @user.errors[:nick_name][0]%>
            <div class="alert alert-danger text-center">
                <%= f.text_field :nick_name, class: 'form-control', placeholder: 'nick name'%>
                Email <%= @user.errors[:nick_name][0]%>
            </div>
        <% else %>
            <%= f.text_field :nick_name, class: 'form-control', placeholder: 'nick name'%>  
        <% end %>
    </div>

    <div class="form-group col-md-6">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :new_password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter New Password" %>
    </div>
    <div class="form-group col-md-6">
        <%= f.label :password_confirmation, "New Confirmation Password" %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter New Password Confirmation"%>
    </div>
    
    <hr width='70%'>
    <div class="form-group col-md-12">
    	<%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control', placeholder: "Enter Current Password"%>
    </div>
    <div class="form-group col-md-12">
        <%= f.submit 'Update User', class: 'btn btn-primary btn-lg btn-block'%>
    </div>
<% end %>
</div>