<div class="row">
	<hr>
	<div class="col-md-6">
	<% unless @user.profile.nil? %>
		<h1><%= "#{@user.profile.first_name} #{@user.profile.last_name} " %></h1>
		<p><%= image_tag(@user.profile.image) %></p>
		<p><%= @user.profile.nick_name %></p>
		<p><%= @user.profile.first_name %></p>
		<p><%= @user.profile.last_name %></p>
		<p><%= @user.profile.contact_phone %></p>
		<p><%= @user.profile.contact_email %></p>
		<p><%= link_to @user.profile.contact_website, "http://#{@user.profile.contact_website}", :target => "_blank" unless @user.profile.contact_website.nil? %></p>
		<hr>
		<% if current_user == @user  %>
			<%= link_to 'UPDATE = PROFILE', edit_user_profile_path(@user), class: "btn btn-info" %>
			<%= link_to 'UPDATE = USER', edit_user_path(@user), class: "btn btn-success" %>
			<%= link_to 'Destroy = USER/PROFILE', user_path(current_user), method: :delete, data: { confirm: 'Are you sure W?' }, class: "btn btn-danger" %>
		<% end %>	
	<% end %>
	</div>

	<% unless @user.profile.nil? %>
		<% if @user.profile.profession_id == 1%>
		<div class="col-md-6">
			<h1> Bootcamp </h1>
				<% unless @user.profile.bootcamps.empty? %>
					<% @user.profile.bootcamps.each do |b| %>
						<p><%= b.title %></p>
					<% end %>
				<% else %>
					Nothing
				<% end %>
		</div>
		<% end %>
	<% end %>
</div>	
