<div class="row">
	<hr>
	<div class="col-md-6">
	<% unless @user.profile.nil? %>
		<h1><%= "#{@user.profile.first_name} #{@user.profile.last_name} " %></h1>
		<p><%= image_tag(@user.profile.image) %></p>
		<p><%= @user.profile.nick_name %></p>
		<p><%= @user.profile.first_name %></p>
		<p><%= @user.profile.last_name %></p>
		<p><%= @user.profile.contact_phone %></p>
		<p><%= @user.profile.contact_email %></p>
		<p><%= link_to @user.profile.contact_website, "http://#{@user.profile.contact_website}", :target => "_blank" %></p>
		<hr>
		<%= link_to 'UPDATE/EDIT', edit_user_profile_path(@user), class: "btn btn-info" if current_user == @user %>
		
	<% else %>
		<%= link_to "Create Profile", new_user_profile_path(current_user) if current_user == @user %>
	<% end %>
	</div>

	<% if @user.profile.profession_id == 1%>
		<% unless @user.profile.nil? %>
		<div class="col-md-6">
			<h1> Bootcamp </h1>
				<% unless @user.profile.bootcamps.empty? %>
					<% @user.profile.bootcamps.each do |b| %>
						<p><%= b.title %></p>
					<% end %>
				<% else %>
					Nothing
				<% end %>
		</div>
		<% end %>
	<% end %>
</div>	
