
<div class="row">
  <div class="col-md-4">
    <div class="well">
    <h4>Students Who is attending</h4>
    <hr>

    <% @bootcamp.profiles.each do |p| %>
        <p><%= link_to Profile.full_name(p.id), user_path(p.id) if p.profession_id == 1 %></p>
    <% end %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @bootcamp.title %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @bootcamp.about %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag(@bootcamp.image) %>
    </p>

    <p>
      <strong>Speciality:</strong>
      <%@bootcamp.specialities.each do |s|%>
          <%= link_to "#{s.title}", search_path({speciality: s}) %>,
      <% end %>
    </p>

    <p>
      <strong>Location:</strong>
      <%#= @bootcamp.location.split.each{|i| i.capitalize!}.join(' ') if @bootcamp.location%>
      <%@bootcamp.locations.each do |l|%>
        <%= link_to "#{l.title}", search_path({location: l}) %>,
      <% end %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @bootcamp.website, @bootcamp.website, :target => "_blank" %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @bootcamp.email %>
    </p>

    <p>
      <strong>Facebook:</strong>
      <%= link_to @bootcamp.facebook, @bootcamp.facebook, :target => "_blank" %>
    
    </p>

    <p>
      <strong>Twitter:</strong>
      <%= link_to @bootcamp.twitter, @bootcamp.twitter, :target => '_blank' %>
      
    </p>
<hr>
    <p>
      <strong>Job guarantee:</strong>
      <%= @bootcamp.job_guarantee %>
    </p>

    <p>
      <strong>Job assistance:</strong>
      <%= @bootcamp.job_assistance %>
    </p>

    <p>
      <strong>Apprenticeship:</strong>
      <%= @bootcamp.apprenticeship %>
    </p>

    <p>
      <strong>Accreditation:</strong>
      <%= @bootcamp.accreditation %>
    </p>

    <p>
      <strong>Post grad resources:</strong>
      <%= @bootcamp.post_grad_resources %>
    </p>

    <p>
      <strong>Housing:</strong>
      <%= @bootcamp.housing %>
    </p>

    <p>
      <strong>Visa assistance:</strong>
      <%= @bootcamp.visa_assistance %>
    </p>

<% if current_user.admin %>
    <%= link_to 'Edit', edit_bootcamp_path(@bootcamp) %> |
    <%= link_to 'Back', bootcamps_path %>
<% end %>

    <div class="col-md-12">
  
<hr> 
<h3 class='star-reviewing' data-score=<%= rating_average(@bootcamp) %>> <%= @bootcamp.title %> Review Avg: </h3>
<hr>
    </div>


<% if logged_in? %>
    <% unless (current_user.profile.profession_id != 1) %>
      <%= render "review" unless current_user_commented? %>
    <% end %>
<% end %>


    <hr> <h3>Comments</h3>
    <% unless @bootcamp.bootcamp_reviews.nil? %>
        <% @bootcamp.bootcamp_reviews.each do |c| %>
            <%= div_for c do %>
                <p><%= c.body %></p>
            <% end %>  
        <% end %>
    <% end %>

  </div>
</div>











<script>
  // $("#add_review").click(function(){
  //   $.post("bootcamps/1/bootcamp_reviews", function(data){
  //       console.log(data);
  //       console.log('callbakc');
  //   }, 'json');
  // });

// $("#add_review").click(function(){
//   jQuery.ajax({
//       type: "POST",
//       url: "/bootcamps/<%=@bootcamp.id%>/bootcamp_reviews",
//       // data: JSON.stringify({"bootcamp_review":{"review": 2}}),
//       success: callback,
//       dataType: "json",
//       contentType: "application/json",
//       processData: false
//     });
// });

// function callback(data){console.log(data);};

  $('#star-reviewing').raty({
   path: '<%= asset_path '/assets/stars' %>',
   scoreName: 'bootcamp_review[rating]'
 });

  $('.star-reviewing').raty({
   path: '/assets/stars',
   readOnly: true,
   score: function(){
    return $(this).attr('data-score');
   }
 });
</script>
