<div class="row">
  <div class="col-md-4">
    <div class="well">
    <h4>Students Who is attending</h4>
    <hr>

    <% @bootcamp.profiles.each do |p| %>
        <p><%= link_to Profile.full_name(p.id), user_path(p.id) if p.profession_id == 1 %></p>
    <% end %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @bootcamp.title %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @bootcamp.about %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag(@bootcamp.image) %>
    </p>

    <p>
      <strong>Speciality:</strong>
      <%= @bootcamp.speciality %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @bootcamp.location %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @bootcamp.website %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @bootcamp.email %>
    </p>

    <p>
      <strong>Facebook:</strong>
      <%= @bootcamp.facebook %>
    </p>

    <p>
      <strong>Twitter:</strong>
      <%= @bootcamp.twitter %>
    </p>

    <p>
      <strong>Job guarantee:</strong>
      <%= @bootcamp.job_guarantee %>
    </p>

    <p>
      <strong>Job assistance:</strong>
      <%= @bootcamp.job_assistance %>
    </p>

    <p>
      <strong>Apprenticeship:</strong>
      <%= @bootcamp.apprenticeship %>
    </p>

    <p>
      <strong>Accreditation:</strong>
      <%= @bootcamp.accreditation %>
    </p>

    <p>
      <strong>Post grad resources:</strong>
      <%= @bootcamp.post_grad_resources %>
    </p>

    <p>
      <strong>Housing:</strong>
      <%= @bootcamp.housing %>
    </p>

    <p>
      <strong>Visa assistance:</strong>
      <%= @bootcamp.visa_assistance %>
    </p>

    <%= link_to 'Edit', edit_bootcamp_path(@bootcamp) %> |
    <%= link_to 'Back', bootcamps_path %>

    <div class="col-md-12">
    <hr>
        <%= form_for :bootcamp, url: bootcamp_comment_review_path   do |f| %>
            <%= f.hidden_field :bootcamp_id, :value => @bootcamp.id%>
            <%= fields_for BootcampReview.new do |r| %>
                <%= r.label :Review %>
                <div id="star-reviewing"></div>
            <% end %>
            <%= fields_for BootcampComment.new do |c| %>
                <%= c.label :Comment %>
                <%= c.text_field :body%>
            <% end %>
            <%= f.submit 'TEST CREATE' %>
        <% end %>
    </div>

        <hr> <h3 class='star-reviewing' data-score=<%= rating_average(@bootcamp) %>> <%= @bootcamp.title %> Review Avg: </h3>
              <hr> <h3>Comments</h3>
        <% @bootcamp.bootcamp_comments.each do |c| %>
          <%= div_for c do %>
            <p><%= c.body %></p>
          <% end %>  
        <% end %>

  </div>
</div>










<script>
  // $("#add_review").click(function(){
  //   $.post("bootcamps/1/bootcamp_reviews", function(data){
  //       console.log(data);
  //       console.log('callbakc');
  //   }, 'json');
  // });

$("#add_review").click(function(){
  jQuery.ajax({
      type: "POST",
      url: "/bootcamps/<%=@bootcamp.id%>/bootcamp_reviews",
      // data: JSON.stringify({"bootcamp_review":{"review": 2}}),
      success: callback,
      dataType: "json",
      contentType: "application/json",
      processData: false
    });
});

function callback(data){console.log(data);};

  $('#star-reviewing').raty({
   path: '/assets/stars',
   scoreName: 'bootcamp_review[review]' 
 });

  $('.star-reviewing').raty({
   path: '/assets/stars',
   readOnly: true,
   score: function(){
    return $(this).attr('data-score');
   }
 });
</script>
