        <div class="well">
          <div class="row">
            <div class="col-md-12">
          <div class="col-md-6">
          <h5> Sign Up</h5>
            <%= form_for :user, url: users_path do |f| %>
                Email:    <%= f.email_field :email %><br>
                password: <%= f.password_field :password %><br>
                password_confirmation: <%= f.password_field :password_confirmation %><br>
                <%= f.submit 'Sign Up' %>                
            <% end %>
          </div>
          <div class="col-md-6">
            <h5> Sign In</h5>

              <%= form_for :session, url: login_path do |f| %>
                  email: <%= f.email_field :email %><br>
                  password: <%= f.password_field :password %>
                  <%= f.check_box :remember_me %>
                  <%= f.submit "Login" %>
              <% end %>
          </div>
          </div>
        </div>
        </div>